.form-header {
    color: #F2AE2E;
    font-size: 30px;
    letter-spacing: .055em;
    margin: 0px 0px 5px 5px;
    font-family: 'DM Serif Display', serif;
}

.form-input {
    color: #fccd89;
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
    position: relative;
    align-self: center;
}

.form-input > div {
    margin-bottom: 5px;
}

.form-input:first-child {
    margin-top: 40px;
}

.form-input input {
    width: 295px;
}

.form-input input::placeholder{
    color: rgb(173, 173, 173);
}

.session-form {
    background: linear-gradient(to bottom, #0b3559, #3981bf);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px black; 
    transition: box-shadow 0.3s, color 0.3s, transform 0.3s, border 0.3s;
    width: 400px;
}
.session-form:hover {
    box-shadow: 0 0 10px #D9CA9C;
}

#form-button {
    width: 100px;
    margin: 10px 0px 40px 0px;
    font-size: 18px;
    font-family: 'DM Serif Display', serif;
}

#form-button:disabled {
    color: #867d61;
    border: 2px solid #947f18;
    cursor: not-allowed;
}

#form-button:disabled:hover {
    box-shadow: none;
}

.form-errors-space-holder {
    height: 21px;
}
.form-errors {
    margin: 7px 0px 0px 0px;
    color: rgb(255, 59, 59);
    font-size: 14px;
    font-family: 'DM Serif Display', serif;
    max-width: 300px;
    font-weight: 600;
}

.input, .input-error {
    font-size: 16px;
    letter-spacing: .04em;;
    height: 20px;
    width: 200px;
    padding: 5px;
    border: 1px solid #D9BA23;
    border-radius: 5px;
    font-family: 'DM Serif Display', serif;
}
.input-error {
    border: 1px solid red;
}
