.comments-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 50px;
    margin: 50px;
}

.comment-capsule, .comment-capsule-update, .comment-update-box {
    margin-bottom: 20px;
    background: linear-gradient(to left, #0b3559, #3981bf, #3981bf);
    box-shadow: 0px 2px 15px black;
    font-family: 'Alegreya Sans', sans-serif;
    color: #F2C48D;
    border-radius: 10px;
    padding: 10px;
    
}
.comment-capsule-update {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    width: 30%;
    margin-top: 20px;
}

.comment-update-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 61%;
}

.comment-author {
    color: #F2AE2E;
    margin: 0px 0px 20px 10px;
    font-size: 20px;
}

.comment-date {
    text-align: end;
    color: #feddb2;
    margin: 0px 10px 0px 0px;
}

.comment-body {
    margin-left: 10px;
    max-width: 320px;
    height: 50px;
    overflow-y: scroll;
}

#comment-form-body-create {
    margin-left: 10px;
}

.comment-form-body, .comment-form-body-update {
    width: 70%;
    height: 40%;
    overflow-x: scroll;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px black;
    background-color: rgba(240, 242, 240, 0.6);
    font-size: large;
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;
}
.comment-form-body-update {
    height: 40%;
    width: 91%;
    align-self: center;
    /* margin-top: 35px; */
}

#comment-update-button {
    align-self: flex-start;
}

.comment-form-title {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #F2AE2E;
}

.form-create-button {
    width: 130px;
    align-self: flex-end;
    margin: 10px 10px 10px 10px;
}

.comment-form-buttons-holder {
    display: flex;
    /* justify-content: end; */
}

.flex-box {
    display: flex;
    justify-content: center;
}