.itinerary-show-map {
    width: 50%;
    height: 460px;
    /* border: 1px solid black; */
}

.itinerary-show-details {
    width: 50%;
    height: 461px;
    overflow: auto;
    position: relative;
}

.remove-activity-button {
    position: relative;
    top: 0;
    right: 0;
}

.activity-item-wrap {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #F2C48D;
    margin: 0px 0px 0px 10px;
    font-family: 'DM Serif Display', serif;
    color: #F2C48D;
    border-radius: 10px;
}

.activity-item-wrap:first-child {
    border-top: 1px solid #F2C48D;
}

.activity-info-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.show-page-creator,
.show-page-title {
    margin: 25px 0px 20px 0px;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    color: #F2C48D;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.show-page-title {
    font-size: 26px;
    margin: 20px 0px 20px 0px;
}

.show-page-creator>p {
    font-size: 14px;
    margin-right: 10px;
}

.show-title-holder {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}

.show-page-title {
    color: #f2ae2e;
}

.activity-place-name,
.activity-place-type,
.activity-place-address,
.activity-place-rating {
    margin: 5px 0px 5px 5px;
}

.activity-place-type {
    text-transform: uppercase;
    font-size: 13px;
}

.activity-place-name {
    font-size: 18px;
    color: #f2ae2e;
}

.activity-place-address {
    font-size: 13px;
}

.activity-photo {
    width: 260px;
    height: 130px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.activity-place-rating {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.star-rating-ico,
.star-rating-ico-half {
    background-image: url('../../assets/star.png');
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.star-rating-ico-half {
    margin-right: 10px;
    width: 10px;
}
