.section-top {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    margin-right: 25px;
    height: calc(100vh - 120px - 20px - 20px - 120px);
}
.itinerary-show-map {
    box-shadow: 0px 2px 15px black;
    border-radius: 10px;
}
#itinerary-show-map-modified {
    height: 100%;
    width: 48%;
}

.section-bottom {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.section-right {
    width: 50%;
    position: relative;
    /* top: -140px; */
}
.section-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px 0px 10px;
}
.activity-generated-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: -200px;
    width: 100%;
}
.activity-generated-item {
    cursor: pointer;
    transition: box-shadow 0.3s, color 0.3s, transform 0.3s;
}
.activity-generated-item:hover > img {
    box-shadow: 0 0 20px #D9CA9C;
}

.choice-img {
    width: 200px;
    height: 120px;
    box-shadow: 0px 2px 15px black;
    border-radius: 10px;
    object-fit: cover;
}
.activity-generated-item:hover {
    transform: scale(1.2);
}
.choice-activity-name {
    font-family: 'DM Serif Display', serif;
    font-size: 16px;
    color: #f2ae2e;
    text-align: center;
    max-width: 200px;
    max-height: 34px;
    overflow-y: hidden;
}

#activity-place-rating-modified {
    color: #feddb2;
    font-family: 'DM Serif Display', serif;
}

#itinerary-show-details-modified {
    height: calc(100% - 140px);
    width: 48%;
    padding-left: 20px;
    border-radius: 10px;
}

#itinerary-show-details-modified.not-updating {
    height: 100%;
}

#nav-button-venture {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    text-shadow: 0 0 5px black;
    transition: color 0.3s, border 0.3s;
}

#nav-button-venture:disabled {
    color: #efc141;
    border: 2px solid #947f18;
    cursor: not-allowed;
    text-shadow: 0 0 5px rgb(71, 71, 71);
    transition: color 0.3s, border 0.3s;
}

#nav-button-venture:disabled:hover {
    box-shadow: none;
}

.instructions {
    color: #fccd89;
    padding: 30px;
    font-family: 'DM Serif Display', serif;
    background: linear-gradient(to bottom, #0b3559, #3981bf);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    cursor: default;
}
.instructions-holder {
    color: #f2f2f2;
}
.instructions > div {
    font-size: 20px;
    margin-bottom: 30px;
    color: #F2AE2E;
}
.instructions > p {
    margin-top: 10px;
}

.title-input {
    width: 180px;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    background-color: rgba(240, 242, 240, 0.8);
    border: none;
    padding: 5px;
    font-family: 'DM Serif Display', serif;
    font-size: 16px;
    margin: 5px 10px 0px 0px;
}
.title-input:hover {
    box-shadow: 0 0 10px #D9CA9C, inset 0 0 30px #D9CA9C;
}

.input-button-capsule {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.input-button-capsule > div {
    display: flex;
    flex-direction: row;
}

.create-page-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(240, 242, 240, 0.6);
    position: inherit;
    transition: box-shadow 0.3s, color 0.3s, transform 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #191E26;
    box-shadow: 0 0 10px black;
    margin-right: 20px;
}
.create-page-circle:hover {
    box-shadow: 0 0 10px #D9CA9C, inset 0 0 30px #D9CA9C;
    color: #0b67b8;
    background-color: rgba(240, 242, 240, 1);
    transform: translateY(-10px) scale(1.2);
}
.create-page-circle:active {
    animation-name: click-animation;
    animation-duration: 0.7s;
}
@keyframes click-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
}

.rating-wrap {
    margin-right: 10px;
}

.create-star-rating-ico {
    background-image: url('../../assets/star.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.create-star-rating-ico-half {
    background-image: url('../../assets/star.png');
    width: 7.5px;
    height: 15px;
    background-size: cover;
}
