.get-started-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    height: 300px;
    width: 300px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar {
    width: 200px;
    height: 20px;
    background-color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgba(240, 242, 240, 0.8);
    border: none;
    padding: 5px;
    font-family: 'DM Serif Display', serif;
    font-size: 16px;
}

/* .circle-icon {

} */

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(240, 242, 240, 0.6);
    /* margin: 40px; */
    position: inherit;
    /* border: 1px solid #034C8C; */
    transition: box-shadow 0.3s, color 0.3s, transform 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #191E26;
}
.circle:hover {
    box-shadow: 0 0 10px #D9CA9C, inset 0 0 30px #D9CA9C;
    color: #0b67b8;
    background-color: rgba(240, 242, 240, 1);
    transform: scale(1.1);
}

.circle:nth-child(1) {
    transform: rotate(45deg) translate(0, -190px) rotate(-45deg);
}
.circle:nth-child(1):hover {
    transform: rotate(45deg) translate(0, -190px) rotate(-45deg) scale(1.3);
}

.circle:nth-child(2) {
    transform: rotate(90deg) translate(0, -190px) rotate(-90deg);
}
.circle:nth-child(2):hover {
    transform: rotate(90deg) translate(0, -190px) rotate(-90deg) scale(1.3);
}

.circle:nth-child(3) {
    transform: rotate(135deg) translate(0, -190px) rotate(-135deg);
}
.circle:nth-child(3):hover {
    transform: rotate(135deg) translate(0, -190px) rotate(-135deg) scale(1.3);
}

.circle:nth-child(4) {
    transform: rotate(180deg) translate(0, -190px) rotate(-180deg);
}
.circle:nth-child(4):hover {
    transform: rotate(180deg) translate(0, -190px) rotate(-180deg) scale(1.3);
}

.circle:nth-child(5) {
    transform: rotate(225deg) translate(0, -190px) rotate(-225deg);
}
.circle:nth-child(5):hover {
    transform: rotate(225deg) translate(0, -190px) rotate(-225deg) scale(1.3);
}

.circle:nth-child(6) {
    transform: rotate(270deg) translate(0, -190px) rotate(-270deg);
}
.circle:nth-child(6):hover {
    transform: rotate(270deg) translate(0, -190px) rotate(-270deg) scale(1.3);
}

.circle:nth-child(7) {
    transform: rotate(315deg) translate(0, -190px) rotate(-315deg);
}
.circle:nth-child(7):hover {
    transform: rotate(315deg) translate(0, -190px) rotate(-315deg) scale(1.3);
}

.circle:nth-child(8) {
    transform: rotate(0deg) translate(0, -190px) rotate(0deg);
}
.circle:nth-child(8):hover {
    transform: rotate(0deg) translate(0, -190px) rotate(0deg) scale(1.3);
}