.get-started-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-location-error-message {
    position: relative;
    bottom: 40px;
    color: rgb(255, 59, 59);
    font-size: 16px;
    font-family: 'DM Serif Display', serif;
    font-weight: 600;
    text-shadow: black 0px 0px 5px;
}

.search-bar {
    width: 180px;
    height: 20px;
    background-color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgba(240, 242, 240, 0.8);
    border: none;
    padding: 5px;
    font-family: 'DM Serif Display', serif;
    font-size: 16px;
    text-align: center;
}

.search-bar:hover {
    box-shadow: 0 0 10px #D9CA9C, inset 0 0 30px #D9CA9C;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(240, 242, 240, 0.6);
    position: inherit;
    transition: box-shadow 0.3s, color 0.3s, transform 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #191E26;
}

.circle:hover {
    box-shadow: 0 0 10px #D9CA9C, inset 0 0 30px #D9CA9C;
    color: #0b67b8;
    background-color: rgba(240, 242, 240, 1);
    transform: scale(1.1);
}

.circle:nth-child(1) { --nth-child: 1}
.circle:nth-child(2) { --nth-child: 2}
.circle:nth-child(3) { --nth-child: 3}
.circle:nth-child(4) { --nth-child: 4}
.circle:nth-child(5) { --nth-child: 5}
.circle:nth-child(6) { --nth-child: 6}
.circle:nth-child(7) { --nth-child: 7}
.circle:nth-child(8) { --nth-child: 8}

@keyframes circle-animation {
    0% {
        transform: rotate(calc(var(--nth-child) * 45deg + 270deg)) translate(0, -50px) rotate(calc(var(--nth-child) * -45deg + 270deg));
        opacity: 0;
    }
    /* 50% {
        transform: rotate(calc(var(--nth-child) * 45deg + 135deg)) translate(0, -200px) rotate(calc(var(--nth-child) * -45deg + 135deg));
        opacity: 0.75;
    } */
    100% {
        transform: rotate(calc(var(--nth-child) * 45deg)) translate(0, -170px) rotate(calc(var(--nth-child) * -45deg));
        opacity: 1;
    }
}

.circle {
    animation: circle-animation 0.9s ease-in-out 0s 1 normal;
    transform: rotate(calc(var(--nth-child) * 45deg)) translate(0, -170px) rotate(calc(var(--nth-child) * -45deg));
}

.circle:hover {
    transform: rotate(calc(var(--nth-child) * 45deg)) translate(0, -170px) rotate(calc(var(--nth-child) * -45deg)) scale(1.3);
}
