.get-started-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    margin: 10px;
    position: inherit;
}
.circle:nth-child(1) {
    transform: rotate(45deg) translate(0, -120px) rotate(-45deg);
}

.circle:nth-child(2) {
transform: rotate(90deg) translate(0, -120px) rotate(-90deg);
}

.circle:nth-child(3) {
transform: rotate(135deg) translate(0, -120px) rotate(-135deg);
}

.circle:nth-child(4) {
transform: rotate(180deg) translate(0, -120px) rotate(-180deg);
}

.circle:nth-child(5) {
transform: rotate(225deg) translate(0, -120px) rotate(-225deg);
}

.circle:nth-child(6) {
transform: rotate(270deg) translate(0, -120px) rotate(-270deg);
}

.circle:nth-child(7) {
transform: rotate(315deg) translate(0, -120px) rotate(-315deg);
}

.circle:nth-child(8) {
transform: rotate(0deg) translate(0, -120px) rotate(0deg);
}