.nav-bar {
    position: fixed;
    top: 0;
    z-index: 101;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background: linear-gradient(to right, rgba(10, 24, 65, 0.1), rgba(40, 98, 200, 0.6));
}

.auth-buttons-wrap {
    margin: 10px 25px 0px 0px;
}

.links-nav {
    margin: 10px 25px 0px 0px;
}

.nav-button {
    background-color: transparent;
    border: 2px solid #D9CA9C;
    border-radius: 5px;
    color: #D9CA9C;
    text-decoration: none;
    padding: 5px;
    margin: 10px 10px 10px 25px;
    transition: box-shadow 0.3s, color 0.3s, transform 0.3s;
    cursor: pointer;
    font-size: 16px;
    font-family: 'DM Serif Display', serif;
}

.nav-button:hover {
    box-shadow: 0 0 10px #D9CA9C, inset 0 0 30px #D9CA9C;
    color: #D9BA23;
    transform: scale(1.1);
}

.main-logo text{
    fill: #D9CA9C;
    stroke: rgba(217, 187, 35, 0.2);
    /* stroke-width: 0.01px; */
}

.main-logo text tspan{
    stroke-width: 0.4;
}

.main-logo-underline {
    stroke: rgba(217, 187, 35, 0.9);
    /* fill: #D9BA23; */
}
