.nav-bar {
    position: fixed;
    top: 0;
    z-index: 101;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background: linear-gradient(to right, rgba(10, 24, 65, 0.1), rgba(40, 98, 200, 0.6));
}

.auth-buttons-wrap {
    margin: 10px 25px 0px 0px;
}

.links-nav {
    margin: 10px 25px 0px 0px;
}

.nav-button,
.nav-logo,
.form-create-button,
.nav-button-itinerary {
    background-color: transparent;
    border: 2px solid #D9CA9C;
    border-radius: 5px;
    color: #D9CA9C;
    text-decoration: none;
    padding: 5px;
    margin: 10px 10px 10px 25px;
    transition: box-shadow 0.3s, color 0.3s, transform 0.2s;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Alegreya Sans', sans-serif;
}

.fa-id-badge {
    font-size: 18.1px;
    position: relative;
    top: 1px;
}

.nav-login {
    padding-top: 3.3px;
    padding-bottom: 4.1px
}

.nav-button-itinerary {
    font-size: 25px;
    display: flex;
    padding: 5px 10px 0px 10px;
}

.nav-button-itinerary>p {
    font-family: 'Satisfy', serif;
    text-transform: lowercase;
    margin-left: 5px;
    position: relative;
    bottom: 1px;
}

.nav-logo {
    border: none;
    border-radius: 45%;
}

.nav-logo:hover {
    box-shadow: 0 0 10px #D9CA9C, inset 0 0 30px #D9CA9C;
    color: #D9BA23;
    animation-name: pomping;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes pomping {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.nav-button:hover,
.form-create-button:hover,
.nav-button-itinerary:hover {
    box-shadow: 0 0 10px #D9CA9C, inset 0 0 30px #D9CA9C;
    color: #D9BA23;
    transform: scale(1.1);
}

.main-logo text {
    fill: hsl(45, 90%, 80%);
    stroke: hsla(50, 80%, 49%, 0.4);
}

.main-logo text tspan {
    stroke-width: 0.3;
}

.main-logo-underline {
    stroke: rgba(217, 187, 35, 0.9);
}