/* TODO Add site wide styles */
body {
    background: linear-gradient(to bottom, #0b3559, #3981bf, #3981bf, #D9CA9C);
    background-repeat: no-repeat;
    font-family: 'DM Serif Display', serif;
}

.flex-column-wrap {
    display: flex;
    flex-direction: column;
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
}